$primary: #B4d455;
$white: white;

.navbar__cntr {
  background-color: $primary;
  color: $white;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar__logo {
  margin-left: 24px;
  font-size: 18px;
}

.navbar__profile {
  flex: 1;
  text-align: right;
  margin-right: 24px;
}

